body{
    margin: 0;
    padding: 0; 
    font-family: "Open Sans", sans-serif;
}

/* Pocetak stilova navbara */

#navbar{
    display: flex;
    height: 15%;
    background-color: #333;
    justify-content: space-between;
    top: 0;
    position: sticky;
    z-index: 10000; 
    
}

a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}


#levo{
    display: flex;
    width: 50%;
    height: 20%;
    align-items: center;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li{
    float: left;
}

li a{
    display: block;
    padding: 40px;
}

li a:hover:not(.active){
    background-color:#3b3636;
}

.logo{
    width: 100px;
}

/* Kraj stilova navbara */

#container-videa-koceljeve{
    width: 100%;
    height: 750px;
    background-color: black;
}

video{
    width: 100%;
    height: 750px;
    opacity: 0.5;
    object-fit: cover;
}

#uvod{
    position: absolute;
    z-index: 1000;
    margin-top: 3%;
}

#naslov{
    background-color: rgb(255, 236, 187);
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 50%;
    padding: 10px;
    box-shadow: 4px 5px 45px;
    border-radius: 30px;
    overflow: auto;
}

/* ugostiteljska mesta */

#prvi-deo{
    background-color: rgb(255, 236, 187);
    text-align: center;
    padding: 5px;
}

#predstava{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.kartica{
    max-width: 600px;
}

.dvorac{
    width: 550px;
}

.pekarac{
    width: 550px;
    height: 370px;
}

.vinarija{
    width: 550px;
    height: 370px;
}

.dugme-poseta{
    cursor: pointer;
    width: 150px;
    padding: 15px;
    font-size: 15px;
    border-radius: 7.5px;
    background-color:burlywood;
    border-width: 1px;
}

.dugme-poseta:hover{
    background-color: rgb(211, 139, 44);
    transition: 0.4s;
}

/* Zimnica */

#container-zimnica{
    display: flex;
    width: 100%;
}

.logo-zimnice{
    width: 30%;
}

.leva-strana-zimnica{
    text-align: center;
    width: 35%;
    background-color: rgb(7, 174, 7);
    background-color: azure;
}

.zimnica{
    display: block;
    width: 100%;
}

.zimnica2{
    display: block;
    width: 100%;
}

.zimnica3{
    width: 100%;
    height: 375px;
}

.sredina-zimnica{
    text-align: center;
    
    height: 750px;
    width: 30%;
}

.donji-div{
    margin-top: 210px;
}

.desna-strana-zimnica{
    width: 35%;
}

.zimnica4{
    display: block;
    width: 100%;
}

.zimnica5{
    width: 100%;
    height: 375px;
}